.game2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 80px;

  .drop-zone {
    position: relative;
    margin-top: 110px;

    .circle {
      position: absolute;
      border-radius: 50%;
      // background-color: gray;
      bottom: 0;
      pointer-events: none;
      left: -276.5px;
      height: 1237px;
      opacity: 0.2;
      width: 1237px;
    }
  }

  .verb-half-circle {
    position: absolute;
    border: solid #eb6400;
    z-index: -2;
    border-radius: 50%;
    transition: 0.2s;
    box-sizing: border-box;
  }

  .cut1 {
    content: "";
    box-sizing: content-box;
    position: absolute;
    background-color: white;
    width: 100%;
    height: 1000px;
    bottom: 78px;
    right: 25%;
    transform: rotate(15deg);
    z-index: -1;
  }

  .cut2 {
    content: "";
    box-sizing: content-box;
    position: absolute;
    background-color: white;
    width: 100%;
    height: 1000px;
    bottom: 90px;
    left: 35%;
    transform: rotate(-15deg);
    z-index: -1;
  }

  .button {
    font-size: 25px;
    background-color: white;
    color: #788287;
    width: max-content;
    font-weight: 700;
    margin-top: 20px;
    padding: 20px 25px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    animation-name: buttonShow;
    animation-duration: 1s;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    transition: 0.5s;
    position: absolute;
    left: 85vw;
    top: 500px;

    &:hover {
      box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
    }
  }

  @keyframes buttonShow {
    0% {
      opacity: 0;
    }

    50% {
      opacity: 1;
    }

    75% {
      transform: scale(1.15);
      opacity: 1;
    }

    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
}
