.game4 {
  margin-top: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .text {
    font-size: 24px;
    line-height: 40px;
    width: 900px;

    div {
      display: inline;
      position: relative;
      cursor: pointer;
      transition: background-color 1s;
      border-radius: 5px;

      &:hover {
        background-color: rgb(199, 199, 199);
      }
    }
  }

  .clone {
    font-size: 24px;
    line-height: 40px;
  }

  .drop {
    margin-top: 50px;
    background-color: #5ac8f5;
    width: 900px;
    height: 300px;
    border-radius: 15px;
  }
}
